<% if user.errors %>
  <ul>
    <% user.errors.full_messages.each do |e| %>
      <li><%= e %></li>
    <% end %>
  </ul>
<% end %>
<%= form_for user do |f| %>
  <%= f.label "Firstname:" %>
  <br />
  <%= f.text_field :firstname %>
  <br />
  <br />
  <%= f.label "Lastname:" %>
  <br />
  <%= f.text_field :lastname %>
  <br />
  <br />
  <%= f.label "Email:" %>
  <br />
  <%= f.text_field :email %>
  <br />
  <br />
  <%= f.label "Flare:" %>
  <br />
  <%= f.text_field :flare %>
  <br />
  <br />
  <%= f.collection_check_boxes(:badge_ids, Badge.all, :id, :name) do |badge|%>
    <%= badge.label(class: 'checkbox inline') {badge.check_box() + badge.text } %><br />
  <% end %>
  <br />
  <br />
  <%= f.submit "Submit" %>
<% end %>
